body {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
html {
  scroll-behavior: smooth;
}
.navBar {
  padding: 2rem;
  background-color: blueviolet;
}
.counterbadge {
  padding: 0.3em;
  background-color: orange;
  color: white;
  font-weight: bolder;
  border-radius: 40%;
}
.reset-btn {
  /* position: absolute; */
  text-align: right;
  padding: 1em;
}
.main-counter {
  background-color: orangered;
  margin: 0 9em;
}
.counter {
  display: flex;
  justify-content: space-between;
}
.headingspan {
  font-weight: bolder;
  font-size: xx-large;
  color: white;
  margin: 0.3em;
}
